<div class="d-flex w-100 h-100 __app--pane__overlay"
  (click)="collapseButton()"></div>

<div class="d-flex __app-scripture-search-pane">
  <div class="d-flex m-2 __app--pane__action--container" (click)="collapseButton()">
    <i class="fa fa-long-arrow-alt-right m-auto __app--pane__cancel--icon"></i>
  </div>

  <div class="d-flex w-100 __app--scripture__search--pane__body">
    <mat-progress-bar *ngIf="showSpinnerNMock" mode="query"></mat-progress-bar>

    <span class="d-flex ml-auto mr-4 mt-2 font-weight-bold __app--scripture__header">
      <i class="fa fa-search-location mr-2 my-auto"></i>
      Find something in the Bible
    </span>

    <div class="mb-2 d-flex w-100 __app--scripture__search--console">
      <div class="w-100 d-flex my-auto __app--scripture__search--console__container">
        <div class="d-flex w-100 my-2 py-0 px-2">
          <input
            #queryInput
            class="mdl-textfield__input w-100" 
            type="input" id="search" placeholder="search"
            [(ngModel)]="query"
          >
        </div>

        <button mat-raised-button class="ml-auto mr-3 my-auto px-0" (click)="grabInput(queryInput)"> <i class="fa fa-search"></i> </button>
      </div>
    </div>

    <span class="d-flex w-100 my-1 ml-3 mr-auto __app--scripture__result--header"> {{ results.length }} result(s) found </span>

    <div class="d-flex w-100 __app--scripture__search--result" #searchRes>
      <ng-container *ngIf="results.length > 0">
        <ng-container *ngFor="let result of results">
          <div *ngFor="let match of result.matches" class="d-flex w-100 mb-2 __app--scripture__result--item px-3">
            <span class="my-1 mr-auto font-weight-bold __app--scripture__result--item__reference">{{result.item.bookTitle.toUpperCase()}} {{result.item.chapterNo.split('-')[ 1 ]}}:{{match.arrayIndex + 1}}</span>
            <span class="w-100 d-block  __app--scripture__result--item__passage">{{match.value | formatVerse:result.item.bookTitle + ' ' + result.item.chapterNo.split('-')[ 1 ] + ':' + parseIndex(match.arrayIndex):''}}</span>
          </div>
        </ng-container>
      </ng-container>

      <div *ngIf="showSpinnerNMock" class="d-flex w-100 __app--scripture__result__mock--container">
        <div *ngFor="let mock of mockLength"
          class="d-flex w-100 __app--scripture__result--item __app--scripture__result--item--mock px-3 mb-2">
          <span class="mt-1 mb-2 mr-auto font-weight-bold __app--scripture__result--item__reference--mock"></span>
          <span class="w-100 d-block mb-2 __app--scripture__result--item__passage--mock"></span>
        </div>
      </div>
    </div>
  </div>
</div>
