* {
  outline: none;
}

.ewd--pane__overlay {
  background-color: #000000;
  opacity: 0.6;
}

.ewd-scripture-search-pane,
.ewd--scripture__search--pane__body,
.ewd--scripture__search--console,
.ewd--scripture__search--result,
.ewd--scripture__result--item {
  flex-direction: column;
}

.ewd-scripture-search-pane {
  position: fixed;
  height: 100%;
  width: 300px;
  background-color: var(--white);
  right: 0;
  top: 0;
  box-shadow: 0 0 3px 0.5px #adb5bd;
  overflow-y: auto;
  overflow-x: hidden;
}

.ewd--scripture__search--console__container {
  flex-direction: row;
}

.ewd--scripture__result--header {
  font-size: 10.5px;
}

.ewd--scripture__result--item {
  max-height: fit-content;
  cursor: pointer;
  transition: ease-in .3s ease-out;
}

.ewd--scripture__result--item:last-of-type {
  margin-bottom: .5em!important;
}

.ewd--scripture__result--item:hover {
  box-shadow: 0px 3px 7px #e8e5e5;
}

.ewd--scripture__result__mock--container {
  flex-direction: column;
}

.ewd--scripture__result--item--mock:hover {
  box-shadow: none!important;
}

.ewd--scripture__result--item__reference--mock,
.ewd--scripture__result--item__passage--mock {
  height: 12px;
  background-color: #e8e5e5;
  border-radius: 8px;
}

.ewd--scripture__result--item__reference--mock {
  width: 30px;
}

.ewd--scripture__result--item__passage--mock {
  width: 60px; 
}

.ewd--scripture__result--item__reference {
  font-size: 12px;
}

.ewd--scripture__result--item__passage {
  font-size: 14px;
}

.ewd--pane__action--container {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  box-shadow: 0 0 5px 0px var(--dark-red);
  position: fixed;
  top: 45%;
  right: 300px;
  background-color: var(--white);
  cursor: pointer;
}

.ewd--pane__cancel--icon {
  font-size: 1rem;
}

.ewd--scripture__header {
  font-weight: 600;
  font-size: 13px;
}

.mdl-textfield__input {
  border: 1px solid #f02266;
  border-radius: 25px;
  height: 45px;
  padding: 7px 10px;
}

/* small device for the web */
@media (max-width: 374px) {
  .ewd-scripture-search-pane {
    width: 240px;
    z-index: 10000;
  }

  .ewd--pane__action--container {
    right: 240px;
  }
}

/* large devices */
@media (min-width: 992px) {
  .ewd-scripture-search-pane {
    width: 400px;
    z-index: 10000;
  }

  .ewd--pane__action--container {
    right: 400px;
  }
}

