* {
  outline: none;
}

.__app--pane__overlay {
  /* position: absolute; */
  background-color: #000000;
  opacity: 0.6;
}

.__app-scripture-search-pane,
.__app--scripture__search--pane__body,
.__app--scripture__search--console,
.__app--scripture__search--result {
  flex-direction: column;
}

.__app-scripture-search-pane {
  position: fixed;
  height: 100%;
  width: 300px;
  background-color: var(--white);
  right: 0;
  top: 0;
  box-shadow: 0 0 3px 0.5px #adb5bd;
}

.__app--pane__action--container {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  box-shadow: 0 0 5px 0px var(--dark-red);
  position: absolute;
  top: 50%;
  left: -45px;
  background-color: var(--white);
  opacity: 0.7;
  cursor: pointer;
}

.__app--pane__cancel--icon {
  font-size: 1rem;
}

.__app--scripture__header {
  font-weight: 600;
  font-size: 13px;
}

.mdl-textfield__input {
  border: 1px solid #f02266;
  border-radius: 25px;
  height: 45px;
  padding: 7px 10px;
}

@media (max-width: 374px) {
  .__app-scripture-search-pane {
    width: 240px;
    z-index: 10000;
  }
}
