<div class="d-flex app--label__dialog p-2">
  <mat-form-field class="w-100 mt-2" appearance="outline">
    <mat-label>Describe this reminder</mat-label>
    <input class="d-flex w-100" matInput
      [(ngModel)]="data.label" placeholder="verse" [type]="'text'">
  </mat-form-field>
  
  <div class="d-flex w-100 mb-0" mat-dialog-actions>
    <button mat-button [mat-dialog-close]="data" class="ml-auto">close</button>
    <button mat-button class="ml-1" cdkFocusInitial (click)="onSubmit()">submit</button>
  </div>  
</div>
