.__app-scriptures-container,
.__app-scriptures-container div,
.__app-scriptures-item {
  flex-direction: column;
}

.__app-scriptures-container {
  padding: 0 15%;
  min-height: calc(100vh - var(--cover-height) - var(--scripture-toolbar-height));
}

.__app-scriptures-book {
  font-size: 16px;
  font-weight: 600;
}

.__app-scriptures-book p {
  line-height: normal;  
}

.__app-scriptures-item {
  font-size: 14px;
  font-weight: 500;
  max-height: fit-content;
}

.__app-scriptures-item div {
  flex-direction: row;
}

.__app-scriptures-item:first-of-type {
  margin-top: 1rem;
}

.__app-scriptures-item:last-of-type {
  margin-bottom: 2rem!important;
}

/* .__app-scriptures-item:hover {
  box-shadow: 0 0 3px 1p #8080806b;
  border-left: none;
  border-right: none;
  z-index: 1000;
} */

.__app--preloading__icon {
  color: #e2dfdf;
}

/* small devices for the web */
@media (max-width: 576px) {
  .__app-scriptures-item {
    font-size: 12px;
  }
}

/* small devices for the web */
@media (max-width: 576px) {
  .__app-scriptures-container {
    padding: 0 20%;
    min-height: calc(100vh - 100px - var(--scripture-toolbar-height));
  }
}

/* large device */
@media (min-width: 768px) {
  .__app-scriptures-container {
    padding: 0 20%;
  }
}
