<div class="d-flex w-100 __app-scriptures-container">
  <span class="d-flex __app-scriptures-book text-uppercase mt-3">
    <p class="my-auto ml-0 mr-2 text-capitalize">The book of</p>
    {{ book }}
  </span>

  <!-- use component -->
  <!-- <div *ngIf="passages !== undefined; else loadingElseBlock" class="d-flex w-100">
    <div appScrollView [status]="(i + 1) === focusElementNo" [exception]="(i + 1) > 5" *ngFor="let passage of passages; index as i" class="d-flex w-100 __app-scriptures-item mb-2" (mouseover)="showReactionConsole(reactionConsole)" (mouseout)="hideReactionConsole(reactionConsole)">
      <div class="d-flex text-left w-100" [ngClass]="{'__app-scriptures-item--focus': (i + 1) === focusElementNo}">
        <sup class="my-0 mr-2 mb-2 font-weight-bold">{{ (i + 1) }}</sup>
        <span class="d-flex"> {{ passage }} </span>
      </div>

      <app-reaction-console [passages]="passages[i]" #reactionConsole class="d-flex"></app-reaction-console>
    </div>
  </div> -->

  <app-scripture-item class="d-flex w-100 h-100" [passages]="passages"></app-scripture-item>
</div>
