<div class="d-flex w-100 flex-column container px-3 px-sm-0 py-3">
  <span class="d-flex w-100 mat-title">The Book of {{book}}</span>

  <div *ngIf="passages !== undefined; else loadingElseBlock" class="d-flex w-100 flex-column">
    <ewd-scripture-item *ngFor="let passage of passages; index as i"
      class="d-flex w-100 my-1"
      [passage]="passage" [i]="i" [focusElementNo]="focusElementNo"
      appScrollView [status]="(i + 1) === focusElementNo" [exception]="(i + 1) > 5"
      [resource]="{book: resource.book, chapter: resource.chapter, verse: i}"></ewd-scripture-item>
  </div>

  <ng-template #loadingElseBlock>
    <div class="d-flex w-100 flex-column mat-h2">
      <img class="mx-auto mt-5 mb-3" src="https://storage.googleapis.com/gci-static-assets/document.gif" style="width: 96px;" alt="document" />
      <span class="mx-auto mb-auto">Finding resources...</span>
    </div>
  </ng-template>
</div>
