.__app-alarm-add-btn {
  position: fixed;
  right: 11%;
  bottom: 11%;
  z-index: 1000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #880800;
  box-shadow: 0 0 5px .5px #9a9a9a;
}

.__app-alarm-add-btn i {
  color: #ffffff;
}

.__app-alarm--item,
.__app-alarm--controls {
  flex-direction: column;
}

.__app-alarm--item__container {
  min-height: fit-content;
}

.__app-alarm--item__container:nth-of-type(even) {
  margin-left: .5rem;
  margin-right: auto;
}

.__app-alarm--item__container:nth-of-type(odd) {
  margin-right: .5rem;
  margin-left: auto;
}

.__app-alarm--item__container:nth-of-type(3n),
.__app-alarm--item__container:nth-child(n+2) {
  margin-top: .5rem;
}

.__app-alarm--item__container:nth-child(2) {
  margin-top: 0;
}

.__app-alarm--item__container--background {
  background-color: #f7f7f7;
}

.__app-alarm--value__toggle--button__container {
  flex-direction: row-reverse;
}

.__app-alarm--value {
  font-size: 35px;
  line-height: normal;
}

.__app-alarm--value__color--blue {
  color: steelblue;
}

.__app-alarm--value__color--grey {
  color: grey;
}

.__app-alarm--value, /* alarm time */
.__app-alarm--controls div span, /* label */
.__app-alarm--delete__controls span, /* delete icon and text */
.__app-alarm--delete__controls i, /* delete icon and text */
.__app-alarm--alternate__controls span, /* repeated days */
.__app-alarm--alternate__controls i /* icon */ {
  cursor: pointer;
}

.__app-alarm--controls,
.__app-alarm--alternate__controls,
.__app-alarm--delete__controls {
  font-size: 13px;
}

.__app-alarm--tag__icon {
  transform: rotate(135deg);
}

i {
  font-size: 1.3em;
}

.__app-alarm--empty {
  flex-direction: column;
  position: fixed;
  top: 25%;
  left: 25%;
  right: 25%;
  bottom: 25%;
}

/* breakpoint  */
@media (max-width: 768px) {
  .__app-alarm--item__container:last-child {
    margin-bottom: 5em;
  }

  .__app-alarm--item__container {
    margin: .5rem 0 0 0;
  }

  .__app-alarm--item__container:first-child {
    margin-top: 0;
  }

  .__app-alarm--item__container:nth-of-type(even) {
    margin-left: 0;
  }
  
  .__app-alarm--item__container:nth-of-type(odd) {
    margin-right: 0;
  }

  .__app-alarm--item__container:nth-child(2) {
    margin-top: .5rem;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .__app-alarm--item__container {
    margin: .5rem 0 0 0;
  }

  .__app-alarm--item__container:first-child {
    margin-top: 0;
  }

  .__app-alarm--item__container:nth-of-type(even) {
    margin-left: 0rem;
    margin-top: 0;
  }
  
  .__app-alarm--item__container:nth-of-type(odd) {
    margin-right: 0;
  }

  .__app-alarm--item__container:nth-child(2) {
    margin-top: 0;
  }

  .__app-alarm--item__container:nth-child(n+3) {
    margin-top: .5rem;
  }
}
