<div class="d-flex w-100 __app-cover">
  <i class="fa fa-search ml-auto mr-4 mt-4 mb-auto fa-1x __app--search___icon" (click)="showSearchPane()"></i>
</div>

<div class="d-flex w-100 mt-auto __app-scripture-toolbar">
  <div class="d-flex w-100 mx-auto my-auto __app--scripture-console">
    <mat-form-field class="mr-2 ml-auto" appearance="outline">
      <mat-label>book</mat-label>
      <input 
      matInput 
      (mouseout)="searchScripture()"
      [(ngModel)]="scripture.book" 
      placeholder="book" 
      [type]="'text'" 
      [typeahead]="bookList"
      (typeaheadOnSelect)="typeaheadOnSelect($event, 'b')"
      [typeaheadScrollable]="true"
      [typeaheadOptionsInScrollableView]="5"
      [typeaheadOptionsLimit]="bookList.length"
      [typeaheadMinLength]="0"
      [isAnimated]="true" 
      [adaptivePosition]="true" 
      [typeaheadSingleWords]="true">
    </mat-form-field>

    <mat-form-field class="mr-2" appearance="outline">
      <mat-label>chapter</mat-label>
      <input
        matInput
        (mouseout)="searchScripture()" 
        [(ngModel)]="scripture.chapter"
        placeholder="chapter"
        [type]="'number'"
        [min]="1"
        [max]="maxChap"
        [typeahead]="chapterList"
        (typeaheadOnSelect)="typeaheadOnSelect($event, 'c')"
        [typeaheadLatinize]="false"
        [typeaheadScrollable]="true"
        [typeaheadOptionsLimit]="chapterList.length"
        [typeaheadMinLength]="0"
        [isAnimated]="true"
        [adaptivePosition]="true"
        [typeaheadSingleWords]="true">
    </mat-form-field>

    <mat-form-field class="mr-auto" appearance="outline">
      <mat-label>verse</mat-label>
      <input 
      matInput 
      (mouseout)="searchScripture()" 
      [(ngModel)]="scripture.verse" 
      placeholder="verse" 
      [type]="'number'"
      [min]="1"
      [max]="maxVerse"
      [typeahead]="verseList"
      (typeaheadOnSelect)="typeaheadOnSelect($event, 'v')"
      [typeaheadLatinize]="false"
      [typeaheadScrollable]="true"
      [typeaheadOptionsLimit]="verseList.length"
      [typeaheadMinLength]="0"
      [isAnimated]="true" 
      [adaptivePosition]="true" 
      [typeaheadSingleWords]="true">
    </mat-form-field>

  <i class="fa fa-search mx-4 my-auto fa-1x __app--search___icon--pseudo" (click)="showSearchPane()"></i>
  </div>
</div>

<app-search-pane *ngIf="_showSearchPane" (closePane)="collapseSearchPane($event)"></app-search-pane>

<div class="d-flex w-100 __app-scriptures-container">
  <span class="d-flex __app-scriptures-book text-uppercase mt-3">
    <p class="my-auto ml-0 mr-2 text-capitalize">The book of</p>
    {{ scripture.book.toUpperCase() }}
  </span>

  <div *ngIf="passages !== undefined; else loadingElseBlock" class="d-flex w-100">
    <div appScrollView [status]="(i + 1) === focusElementNo" [exception]="(i + 1) > 5" *ngFor="let passage of passages; index as i" class="d-flex w-100 __app-scriptures-item mb-2" (mouseover)="showReactionConsole(reactionConsole)" (mouseout)="hideReactionConsole(reactionConsole)">
      <div class="d-flex text-left w-100" [ngClass]="{'__app-scriptures-item--focus': (i + 1 )=== focusElementNo}">
        <sup class="my-0 mr-2 mb-2 font-weight-bold">{{ (i + 1) }}</sup>
        <span class="d-flex"> {{ passage }} </span>
      </div>

      <div class="d-flex ml-auto my-2 __app--reactions--container" #reactionConsole>
        <i class="fa fa-play ml-auto mr-3 my-auto d-none" #playIcon (click)="readVerse(i, playIcon)" [hidden]="playIcon.classList.contains('fa-play') && preventOtherVersePlays"></i>
        <i class="far fa-bell mr-3 my-auto d-none"></i>
        <i class="far fa-heart mr-3 my-auto d-none" #likeIcon (click)="likeVerse(likeIcon)"></i>
        <i class="far fa-smile-wink mr-3 my-auto d-none"></i>
        <i class="fa fa-share-alt mr-3 my-auto d-none"></i>
      </div>
    </div>
  </div>

  <ng-template #loadingElseBlock class="d-flex w-100">
    <i class="fa fa-bible fa-spin fa-3x mx-auto __app--preloading__icon"> </i>
  </ng-template>
</div>

<div class="d-flex __app-scriptures-player __player-position-left">
  <i class="fa fa-fast-backward mx-auto mt-auto"></i>
  <i #playPauseIcon class="fa fa-pause fa-1x mx-auto my-4" [ngClass]="{'fa-play': playerState === false, 'fa-pause': playerState === true}" (click)="togglePlayerState()" (click)="playChapter(playPauseIcon)"></i>
  <i class="fa fa-stop fa-1x mx-auto mb-4" (click)="stopPlay()"></i>
  <i class="fa fa-fast-forward mb-auto mx-auto"></i>
</div>
