.__app-cover {
  height: var(--cover-height);
  background-clip: border-box;
  background-image: url("/assets/imgs/cover-img.png");
  background-size: cover;
  color: var(--white);
}

.__app--search___icon,
.__app--search___icon--pseudo,
.__app--reactions--container i,
.__app--navigator {
  cursor: pointer;
}

.__app-scripture-toolbar {
  flex-direction: column;
  height: var(--scripture-toolbar-height);
  background-color: var(--white);
  opacity: .9;
  position: sticky;
  top: 0;
  transition: all .5s ease-in;
  box-shadow: 0 0 3px .5px var(--dark-red);
}

.__app--scripture-console mat-form-field:nth-child(n+1) {
  max-width: 100px;
}

.__app--scripture-console mat-form-field:first-of-type {
  max-width: 40%;
}

.__app--search___icon--pseudo {
  position: absolute;
  right: 2%;
  top: 41%;
  transition: all .5s ease-in-out .5s;
}

.__app--navigator {
  position: fixed;
  top: 45%;
  font-size: 1.5rem;
  font-weight: 600;
}

.__app--navigator__left {
  left: 3%;
}

.__app--navigator__right {
  right: 3%;
}

/* breakpoints */
/* large devices for the web */
@media (min-width: 678px) {
  .__app--scripture-console mat-form-field:nth-child(n+1) {
    max-width: 150px;
  }

  .__app--scripture-console mat-form-field:first-of-type {
    max-width: 50%;
  }
}

/* small devices for the web */
@media (max-width: 576px) {
  .__app-cover {
    height: 100px;
  }

  .__app--scripture-console mat-form-field:nth-child(n+1) {
    max-width: 20%;
  }

  .__app--scripture-console mat-form-field:first-of-type {
    max-width: 30%;
  }

  .__app--search___icon--pseudo {
    right: -8px;
  }
}
