<div class="d-flex w-100 __app-cover">
  <i class="fa fa-search ml-auto mr-4 mt-4 mb-auto fa-1x __app--search___icon" (click)="showSearchPane()"></i>
</div>

<div class="d-flex w-100 mt-auto __app-scripture-toolbar">
  <div class="d-flex w-100 mx-auto my-auto __app--scripture-console">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="ml-3 my-auto">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item class="d-flex">
        <i class="fa fa-cog mr-2 my-auto d-flex"></i>
        <span>settings</span>
      </button>
      <button mat-menu-item class="d-flex">
        <i class="far fa-bell mr-2 my-auto d-flex"></i>
        <span>alarm</span>
      </button>
    </mat-menu>


    <mat-form-field class="mr-2 ml-auto" appearance="outline">
      <mat-label>book</mat-label>
      <input 
      matInput 
      (mouseout)="searchScripture()"
      [(ngModel)]="scripture.book" 
      placeholder="book" 
      [type]="'text'" 
      [typeahead]="bookList"
      (typeaheadOnSelect)="typeaheadOnSelect($event, 'b')"
      [typeaheadScrollable]="true"
      [typeaheadOptionsInScrollableView]="5"
      [typeaheadOptionsLimit]="bookList.length"
      [typeaheadMinLength]="0"
      [isAnimated]="true" 
      [adaptivePosition]="true" 
      [typeaheadSingleWords]="true">
    </mat-form-field>

    <mat-form-field class="mr-2" appearance="outline">
      <mat-label>chapter</mat-label>
      <input
        #chapterEl
        matInput
        (mouseout)="searchScripture()"
        (keyup)="validateChapter(chapterEl, $event)"
        [(ngModel)]="scripture.chapter"
        placeholder="chapter"
        [type]="'number'"
        [min]="1"
        [max]="maxChap"
        [typeahead]="chapterList"
        (typeaheadOnSelect)="typeaheadOnSelect($event, 'c')"
        [typeaheadLatinize]="false"
        [typeaheadScrollable]="true"
        [typeaheadOptionsLimit]="chapterList.length"
        [typeaheadMinLength]="0"
        [isAnimated]="true"
        [adaptivePosition]="true"
        [typeaheadSingleWords]="true">
    </mat-form-field>

    <mat-form-field class="mr-auto" appearance="outline">
      <mat-label>verse</mat-label>
      <input 
      matInput
      #verseEl
      (keyup)="searchScripture()"
      (keyup)="validateVerse(verseEl, $event)"
      [(ngModel)]="scripture.verse"
      placeholder="verse"
      [type]="'number'"
      [min]="1"
      [max]="maxVerse"
      [typeahead]="verseList"
      (typeaheadOnSelect)="typeaheadOnSelect($event, 'v')"
      [typeaheadLatinize]="false"
      [typeaheadScrollable]="true"
      [typeaheadOptionsLimit]="verseList.length"
      [typeaheadMinLength]="0"
      [isAnimated]="true"
      [adaptivePosition]="true"
      [typeaheadSingleWords]="true">
    </mat-form-field>

    <i appActionScroll [reveal]="scrolled" [_class]="'invisible'"  class="fa fa-search mx-4 my-auto fa-1x invisible __app--search___icon--pseudo" (click)="showSearchPane()"></i>
  </div>
</div>

<app-search-pane *ngIf="_showSearchPane" (closePane)="collapseSearchPane($event)"></app-search-pane>

<app-scripture-container class="d-flex w-100" [book]="scripture.book.toUpperCase()" [passages]="passages" [itemFocus]="focusElementNo"></app-scripture-container>

<!-- paginator - left -->
<i appScriptureNavigator *ngIf="passages" [watch]="{chapterList: chapterList, bookList: bookList}"  [resource]="scripture" class="fa fa-angle-left ml-auto __app--navigator __app--navigator__left" (watchOutput)="previousScripture($event)"></i>

<!-- paginator - right -->
<i appScriptureNavigator *ngIf="passages" [watch]="{chapterList: chapterList, bookList: bookList}"  [resource]="scripture" class="fa fa-angle-right mr-auto __app--navigator __app--navigator__right" (watchOutput)="nextScripture($event)"></i>

<div class="d-flex __app-scriptures-player __player-position-left">
  <i class="fa fa-fast-backward mx-auto mt-auto" (click)="previous()"></i>

  <i *ngIf="playerState === true" class="fa fa-play fa-1x mx-auto my-4" (click)="togglePlayerState()" (click)="playChapter()"></i>

  <i *ngIf="playerState === false" class="fa fa-pause fa-1x mx-auto my-4" (click)="togglePlayerState()" (click)="pause()"></i>

  <i class="fa fa-stop fa-1x mx-auto mb-4" (click)="stopPlay()"></i>

  <i
  class="fa fa-circle-notch mb-4 mx-auto"
  [ngClass]="repeatAll ? '__app--scriptures__player--button__repeat--active' : '__app--scriptures__player--button__repeat--inactive'"
  (click)="toggleRepeat()"></i>

  <i class="fa fa-fast-forward mb-auto mx-auto" (click)="next()"></i>
</div>
