<div class="d-flex w-100 ewd-cover px-2 py-2 px-sm-4 py-sm-4 text-white">
  <img src="https://storage.googleapis.com/gci-static-assets/icons/icon-72x72.png" alt="logo-image" style="width: 32px; height: 32px;">

  <button class="ml-auto px-3 py-2 rounded-pill" mat-raised-button color="accent" style="height: fit-content;" [matMenuTriggerFor]="versionMenu">
    <mat-icon>library_books</mat-icon>
    <span class="ml-2">Versions</span>
  </button>

  <mat-menu #versionMenu="matMenu">
    <button *ngFor="let version of versions" class="d-flex my-2" mat-menu-item style="height: fit-content;" (click)="setBibleVersion(version)">
      <!-- <mat-icon>dialpad</mat-icon> -->
      <span class="text-uppercase" style="white-space: normal;">{{version}}</span>
    </button>
  </mat-menu>
</div>

<div #scriptureToolbar class="d-flex flex-column w-100 mt-auto bg-white shadow-sm ewd-scripture-toolbar px-0 mat-small">
  <mat-progress-bar *ngIf="showProgressbar" [mode]="'query'" [color]="'accent'"></mat-progress-bar>
  <div class="d-flex w-100 mx-auto my-auto px-3 ewd-scripture-console">
    <button mat-icon-button color="accent" class="my-auto rounded"[matMenuTriggerFor]="versionMenu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-form-field class="mr-2 ml-auto mat-small h-100" appearance="outline">
      <mat-label>Book</mat-label>
      <input 
        autocomplete="false"
        matInput
        (keyup)="searchScripture()"
        [(ngModel)]="scripture.book"
        placeholder="book"
        [type]="'text'"
        [formControl]="bookControl" [matAutocomplete]="bookVar" >

      <mat-autocomplete #bookVar="matAutocomplete">
        <mat-option *ngFor="let book of filteredBookList | async" [value]="book.toString().charAt(0).toUpperCase() + book.toString().substring(1).toLowerCase()" (click)="searchScripture()">
          {{ book.toString().charAt(0).toUpperCase() }}{{ book.toString().substring(1).toLowerCase() }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="mr-2 mat-small h-100" appearance="outline">
      <mat-label>Chapter</mat-label>
      <input
        autocomplete="false"
        matAutoComplete
        #chapterEl
        matInput
        (keyup)="searchScripture()"
        (keyup)="validateChapter(chapterEl, $event)"
        [(ngModel)]="scripture.chapter"
        placeholder="chapter"
        [type]="'number'"
        [min]="1"
        [max]="maxChap"
        [formControl]="chapterControl" [matAutocomplete]="chapVar" >

      <mat-autocomplete #chapVar="matAutocomplete">
        <mat-option *ngFor="let chapter of chapterList" [value]="chapter" (click)="searchScripture()">
          {{ chapter }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="mat-small h-100" appearance="outline">
      <mat-label>Verse</mat-label>
      <input 
        autocomplete="off"
        matInput
        #verseEl
        matAutoComplete
        (keyup)="searchScripture()"
        (keyup)="validateVerse(verseEl, $event)"
        [(ngModel)]="scripture.verse"
        placeholder="verse"
        [type]="'number'"
        [min]="1"
        [max]="maxVerse"
        [formControl]="verseControl" [matAutocomplete]="verseVar" >

      <mat-autocomplete #verseVar="matAutocomplete">
        <mat-option *ngFor="let verse of verseList" [value]="verse" (click)="searchScripture()">
          {{ verse }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <button mat-icon-button class="ml-auto my-auto rounded" color="primary">
      <mat-icon>search_outline</mat-icon>
    </button>
  </div>
</div>

<!-- <ewd-search-pane *ngIf="_showSearchPane" (closePane)="collapseSearchPane($event)"></ewd-search-pane> -->

<ewd-scripture-container class="d-flex w-100 flex-column" [resource]="scripture" [passages]="passages"
  [focusElementNo]="focusElementNo">
</ewd-scripture-container>

<!-- paginator - left -->
<i appScriptureNavigator *ngIf="passages" [watch]="{chapterList: chapterList, bookList: bookList}"  [resource]="scripture" class="fa fa-angle-left ml-auto ewd-navigator ewd-navigator__left" (watchOutput)="previousScripture($event)"></i>

<!-- paginator - right -->
<i appScriptureNavigator *ngIf="passages" [watch]="{chapterList: chapterList, bookList: bookList}"  [resource]="scripture" class="fa fa-angle-right mr-auto ewd-navigator ewd-navigator__right" (watchOutput)="nextScripture($event)"></i>

<ewd-scripture-player class="w-100" [passages]="passages" (watchFocus)="keepFocus($event)" [scripture]="scripture"></ewd-scripture-player>
