<mat-progress-bar *ngIf="true" [mode]="'determinate'" [color]="'accent'" [value]="10"></mat-progress-bar>
<div class="d-flex w-100 ewd-scriptures-player--bar bg-white">
  <div class="d-flex h-100">
    <button mat-icon-button color="accent" class="my-auto p-2 p-sm-3" style="width: fit-content; height: fit-content;" (click)="previous()">
      <mat-icon class="material-icons-outlined">skip_previous_outline</mat-icon>
    </button>

    <button *ngIf="playerState === false" mat-icon-button color="accent" class="my-auto p-2 p-sm-3" style="width: fit-content; height: fit-content;" (click)="togglePlayerState()" (click)="playChapter()">
      <mat-icon class="material-icons-outlined">play_arrow_outline'</mat-icon>
    </button>

    <button *ngIf="playerState" mat-icon-button color="accent" class="my-auto p-2 p-sm-3" (click)="togglePlayerState()" (click)="pause()">
      <mat-icon>pause</mat-icon>
    </button>

    <button mat-icon-button color="accent" class="my-auto p-2 p-sm-3" style="width: fit-content; height: fit-content;" (click)="next()">
      <mat-icon class="material-icons-outlined">skip_next_outline</mat-icon>
    </button>
  </div>

  <div class="d-flex h-100 flex-column ml-3 ml-sm-5">
    <span class="mat-subheading-2 mt-auto mb-0" style="line-height: normal;">Genesis</span>
    <span class="mat-h5 mb-auto">Chapter 1:1</span>
  </div>
</div>
