<div class="d-flex ewd-scriptures-player __player-position-left">
  <i class="fa fa-fast-backward mx-auto mt-auto" (click)="previous()"></i>

  <i *ngIf="playerState === false" class="fa fa-play fa-1x mx-auto my-4" (click)="togglePlayerState()"
    (click)="playChapter()"></i>

  <i *ngIf="playerState === true" class="fa fa-pause fa-1x mx-auto my-4" (click)="togglePlayerState()"
    (click)="pause()"></i>

  <i class="fa fa-stop fa-1x mx-auto mb-4" (click)="stopPlay()"></i>

  <i class="fa fa-fast-forward mb-4 mx-auto" (click)="next()"></i>

  <i class="fa fa-circle-notch mb-auto mx-auto"
    [ngClass]="repeatAll ? 'ewd--scriptures__player--button__repeat--active' : 'ewd--scriptures__player--button__repeat--inactive'"
    (click)="toggleRepeat()"></i>
</div>
