sup {
  line-height: normal;
  height: fit-content;
  top: 0!important;
  position: static;
}

.ewd--scriptures__item--container {
  flex-direction: column;
}

.ewd-scriptures-item--focus {
  font-weight: 700;
  outline: none;
}
