/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Varela Round"!important;
  src: url("~/assets/fonts/varela/varela_round-regular.ttf") format("truetype");
}

:root {
  --cover-height: 150px;
  --scripture-toolbar-height: 70px;
  --light-grey: #eeebebf6;
  --dark-grey: grey;
  --dark-red: #260403;
  --light-red: #4c0503;
  --light-red-1x: #bf0803;
  --player-bottom: 30px;
  --player-height: 200px;
  --player-width: 60px;
  --player-right: 20px;
  --player-bottom-radius: 30px;
}


body {
  display: flex;
  font-family: 'Varela Round', sans-serif!important;
  margin: 0;
  padding: 0;
  background-color: var(--white);
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  color: var(--dark-grey)!important;
}

app-root {
  width: inherit;
  height: fit-content;
}

.mat-form-field-wrapper {
  padding-bottom: 0!important;
}

/* typeahead modiification */
typeahead-container {
  width: 100%;
  min-height: 150px;
}

typeahead-container button {
  height: 40px;
}

.__grey {
  /* background-color: var(--light-red);
  box-shadow: 0 0 5px .5px var(--dark); */
  background-color: #f8f9fa;
  box-shadow: 0 0 3px 1px var(--dark-red);
  /* transition: 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53); */
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
