.app__settings--container,
.app__settings--group {
    flex-direction: column;
}

.app__settings--group__sub-group {
    flex-direction: row;
}

.app__settings--container {
    overflow-x: hidden;
    overflow-y: auto;
}

span {
    color: #adadad;
}

mat-select {
    width: 150px;
    border-bottom: 1px solid #adadad;
}

.app__settings--selected__voice {
    font-size: 12px;
}
